.ui-dialog-background {
    opacity: 0.5;
    display: block !important;
    -webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog-background.pop.in {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
}

footer, div[data-role="footer"] {
    display: none;
}

#accounts h3 {
    font-family: monospace;
    font-size: 200%;
}

.ui-panel {
    background-color: #f9f9f9;
}

.ui-corner-all {
   -webkit-border-radius: .0 !important;
   -moz-border-radius: .0 !important;
   border-radius: 0 !important;
}

#panelheader {
    background-color: #1593f9;
    border: none;
    color: #ffffff;
    text-shadow: 0 1px 0 #0857c4;
}

.header-icon {
    /* quick-n-dirty fix */
    background: #1593f9 !important;
    border-color: #1593f9 !important;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#addButton {
    display: none;
}

.ui-listview .ui-li-aside {
  height: 100%;
  top: 0;
}

.ui-listview .ui-btn-icon-notext {
  display: inline-block;
  vertical-align: middle;
}
